<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\css.css" href="img" rel='stylesheet' type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>RuPit</title>
</head>
<style>
    body {
        background-color: rgb(0, 0, 0);
        color: var(--color-text-main);
        font-family: var(--yandex-sans);
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    #a1 {
        color: #c7c5c5;
        font-size: 26px;
    }

    #div_content6 {
        background-color: rgb(54, 53, 53);
        border-radius: 10px;
        padding: 5px;
        width: 1180px;
        height: 670px;
        margin: 0 auto;
        line-height: 1.7;  
    }

    .a1{
        color: #9ea2c5;
    }

    #h12 {
        font-size: 35px;
        color: rgb(37, 37, 37);
    }
</style>
<body>
    <div>
        <div id="header" style="width: 100%;">
            <h1>
                <a href='/content' id='atop'>Ru<span style="color: aquamarine;">Pit</span>:</a>
                <a href='/content' id='atop' style="float: right;">Lili</a>
                Урок №1
                <a href="/#" id='alogin' style="float: right; margin-right: 80px;">Menu</a>
            </h1>
        </div>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="/Простые встроенные функции" id="about">№2 Простые встроенные функции</a>
        <a href="/Знакомство с циклами" id="blog">№3 Знакомство с циклами</a>
        <a href="/Знакомство со списками и словарями" id="projects">№4 Списки и словари</a>
        <a href="/Функции" id="contact">№5 Функции</a>
    </div>
    <div id="div1" style="height: 11000px; margin-bottom: 50px;">
        <div style="height: 30px;"></div>

        <div style="margin-left: 220px;">
            <h1 id="h12" >Урок №1: Знакомство со средой и установка Python</h1>
        </div>
        
        <div style="height: 30px;"></div>

        <div id="div_content6">
            <h1 id="h1" style="margin-left: 25px;">1. Введение</h1>
 
            <p id="p_1">Программа — это список команд, то есть инструкций для компьютера:</p>
            <p id="p_1">— отобразить что-нибудь на экране,</p>
            <p id="p_1">— вычислить что-нибудь</p>
            <p id="p_1">— и т. д.</p>
            <p id="p_1">В вашем компьютере много разных программ. Программа-браузер показывает вам страницы в интернете, программа-плеер проигрывает музыку, Word позволяет редактировать тексты, игры развлекают вас, вирусы мешают — и всё это программы. Чтобы создать страницу на сайте в интернете (которую получит и покажет ваш браузер) — например, вашу страничку ВКонтакте, или результаты поиска в Яндексе — компьютер, на котором работает этот сайт, часто тоже выполняет какую-то программу.</p>
            <p id="p_1">Есть разные способы записать программу. Однако наиболее «удобная» для компьютера форма записи в виде машинного кода неудобна для человека. Поэтому для составления программ придумали языки программирования.</p>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content_v">
            <h1 id="h11">Язык программирования</h1>
            <p id="p_1" style="color: #e6e9d2;">Язык программирования — это набор строгих правил, согласно которым компьютер может «понимать» команды и выполнять их. Текст программы, написанной на любом языке программирования, называется программным кодом или просто кодом.</p>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content6" style="height: 850px;">
            <h1 id="h1" style="margin-left: 25px;">2. Знакомство с IDE</h1>
            <p id="p_1">Команды для интерпретатора можно писать в обычном текстовом редакторе (например, в Блокноте). Но чаще для этого пользуются специальной программой, которая называется средой разработки (англ. IDE, Integrated Development Environment). Среда разработки — тоже текстовый редактор, но с дополнительными возможностями. Например, она умеет сама находить на компьютере программу-интерпретатор и запускать одной кнопкой. Также среда разработки форматирует написанный вами код, чтобы его удобно было читать, а иногда даже подсказывает, где вы допустили ошибку.</p>
            <p id="p_1">На первом этапе мы будем использовать среду разработки Wing IDE. Её можно скачать <a href="http://www.wingware.com/downloads/wingide-101" style="color: #9ea2c5;" target="_blank">с сайта разработчика</a>, фирмы Wingware. В будущем вам может потребоваться более сложная, но и более богатая возможностями среда разработки. В этом случае мы рекомендуем использовать <a style="color: #9ea2c5;" target="_blank" href="https://www.jetbrains.com/pycharm-edu/">PyCharm</a>, продукт российской фирмы JetBrains.</p>
            <p id="p_1">Ну что же, пора приступать к разработке программ. Для начала, запустите среду разработки WingIDE. И давайте проверим настройки кодировок файлов. Эти настройки потребуются для корректной сдачи программ в тестирующую систему.</p>
            <p id="p_1">— Зайдите в меню «Edit» → «Preferences». Перейдите к категории «Files». Для опции «Default Encoding» выберите значение «Unicode (UTF-8) utf-8».</p>
            <p id="p_1">— Зайдите в меню «Edit» → «Preferences». Перейдите к категории «Debugger» → «I/O». Для опции «Debug I/O Encoding» выберите значение «Unicode (UTF-8) utf-8».</p>
        </div>

        <div style="margin: 0 auto; width: 1000px; height: 650px;">
            <video width="1000px" height="650px" controls="controls">
                <source src="static/video/Installing Python and Wing_Trim.mp4">
            </video>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content_v">
            <h1 id="h11">PEP8</h1>
            <p id="p_1" style="color: #e6e9d2;">При оформлении программ, мы будем пользоваться PEP8 — (Python Enhanced Proposal) — это документ, описывающий общепринятый (рекомендуемый) стиль написания программ на языке Python. Документ создан по рекомендациям Гвидо Ван Руссо и Барри Уорсо, ознакомится с материалами на русском языке можно, например, <a  class="a1" target="_blank" href="https://pep8.ru/doc/pep8/">тут</a>(лучше ознакомтесь). В наших материалах мы будем отмечать рекомендации PEP8 таким значком.</p>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content6" style="height: 1100px;">
            <h1 id="h1" style="margin-left: 25px;">3. Команда print()</h1>
            <p id="p_1">А теперь изучим команду вывода на экран. Для вывода на экран используется команда print().</p>
            <div id="div_content_v" style="width: 1120px;">
                <h1 id="h11">Важно</h1>
                <p id="p_1" style="color: #b4b6a6;">Внутри круглых скобок, через запятую мы указываем то, что необходимо вывести на экран. Если это какой-то текст, то указываем его внутри кавычек. Кавычки могут быть как одинарными, так и двойными. Главное, что бы текст начинался и заканчивался кавычками одного типа. Команда print записывается только строчными буквами, другое написание недопустимо, так как в Python строчные и заглавные буквы различны.</p>
            </div>
            <p id="p_1">Создайте в среде новый файл и напишите в нем команду вывода на экран слова «Привет!». Команда будет выглядеть так:</p>
            <div id="div_content_prog" style="width: 200px; height: 50px; ">
                <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">Привет</span>!')</p>
            </div>
            <p id="p_1">Обратите внимание на цветовую индикацию. Например, в Wing IDE слово print выделено голубым цветом, а слово «Привет» — фиолетовым. В среде Wing IDE используется следующее цветовое выделение синтаксиса: все стандартные команды и функции выделяются синим и голубым цветом, фиолетовым цветом выделяются текстовые данные — строки — заключенные в кавычки.</p>
            <p id="p_1">Настало время запустить нашу первую программу. Но кнопка запуска Run <img src="static/img/run.png" style="width: 30px;"> пока не доступна. Перед запуском надо сохранить файл на диск.</p>
            <p id="p_1">Вы будете писать много программ, только за первый год обучения их будет более 500, поэтому для удобства — создавайте для каждого урока свою папку, в которой будете хранить программы этого урока, а сами файлы с программами называйте так, что бы было понятно, о какой задаче идет речь. Назовите данный файл hello и сохраните его. Теперь стала доступна кнопка запуска. Запустите программу.</p>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content6" style="height: 1900px;">
            <h1 id="h1" style="margin-left: 25px;">4. Тестирующая система</h1>
            <p id="p_1">Вы только что написали свою первую программу. А сейчас вы сдадите свою первую задачу в тестирующую систему.</p>
            <p id="p_1">Измените свою программу так, что бы она решала задачу «Приветствие». Запустите и проверьте ее. И если она работает верно — сдавайте задание в тестирующую систему. Не забудьте сохранить новую программу в отдельном файле. Сейчас это кажется не очень важным, но потом, когда программ станет больше, а сами они длиннее и сложнее, привычка систематизировать материалы очень вам поможет. Чтобы не путаться код какой программы в каком файле, именем может служить название задачи в тестирующей системе.</p>
            <p id="p_1">Написать или запустить неверную программу — не страшно. Что-то не понять — тоже не страшно. Даже опытные программисты иногда ошибаются и что-то не понимают. Поэтому в случае затруднений всегда смело задавайте вопросы и просите преподавателя вам помочь.</p>
            <p id="p_1">Ваша программа пока умеет только здороваться. Давайте сделаем так, чтобы она выводила две строчки с текстом. В первой строке «Привет, Яндекс!», а на второй — «Приятно познакомиться.» Для этого нам понадобится еще одна команда print. Эту команду нам обязательно надо написать с новой строки. Каждая новая команда пишется с новой строки! Сохраните программу с новым именем acquaintance, запустите и проверьте. И если все правильно — сдавайте задачку «Знакомство» в тестирующую систему.</p>
            <p id="p_1">Когда сдадите задачу, попробуйте внести в свою программу ошибки — добавьте опечатку в слово print, уберите открывающую или закрывающую скобку, придумайте еще что-нибудь необычное. Обратите внимание, что в консоли появляется сообщение, в котором есть слово Error. SyntaxError: invalid syntax часто означает именно забытую кавычку или скобку. Обратите внимание, что если вы добавите опечатку в слово print, то оно становится чёрным: редактор не узнаёт его и не понимает, что это команда.</p>
            <p id="p_1">Давайте теперь немного изменим нашу последнюю программу. Попробуйте заменить строчку print(’Привет, Яндекс!’) на строку print(’Привет’, ’Яндекс!’). Запустите и посмотрите, что будет выведено на экран. В этот раз мы внутри команды print указали две строки, заключенные в кавычки, но разделили эти строки между собой запятой. Как уже говорилось в начале урока, внутри круглых скобок через запятую указывается то, что нужно вывести на экран. В данном случае на экран выводится две строки. Первая — «Привет», вторая — «Яндекс!». Эти строки пишутся в команде print через запятую, а появляются на экране через пробел. То есть, запятая внутри команды заменятся на пробел при выводе на экран.</p>
            <div id="div_content_v" style="width: 1120px; height: 420px;">
                <h1 id="h11">Важно: PEP8</h1>
                <p id="p_1" style="color: #b4b6a6;">Обратите внимание, что после запятой, согласно стандарту PEP-8, обязательно нужно добавлять пробел.</p>
                <p id="p_1" style="color: #b4b6a6;">Правильно:</p>
                <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">Привет</span>, '<span style="color: #4d6dff;">Яндекс</span>!!')</p>
                <p id="p_1" style="color: #b4b6a6; text-decoration: line-through;">Неправильно:</p>
                <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">Привет</span>,'<span style="color: #4d6dff;">Яндекс</span>!!')</p>
            </div>
            <p id="p_1">Выполнив программу, мы видим, что фраза «Привет Яндекс!» не соответствует требуемой. В ней не хватает запятой. Запятая должна быть выведена на экран, а это значит, что она должна оказаться внутри строки, заключенной в кавычки. Исправьте программу и добейтесь правильного вывода. Самостоятельно разбейте фразу «Приятно познакомиться.» на две строки, которые внутри команды print будут записываться через запятую.</p>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content6" style="height: 1500px;">
            <h1 id="h1" style="margin-left: 25px;">5. Команда input()</h1>
            <p id="p_1">Пока что все наши программы выводили на экран фразы, известные в момент написания программы. Но программы могут работать и с данными, которые станут известны только во время выполнения программ, например, их будет вводить пользователь с клавиатуры. Мы можем реализовать это так:</p>
            <div id="div_content_prog" style="width: 300px; height: 210px; padding: 3px;">
                <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">Как тебя зовут?</span>')</p>
                <p id="p_1">name = <span style="color: #6dc993;">input</span>()</p>
                <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">Привет,</span>', name)</p>
            </div>
            <p id="p_1">Запустите эту программу. Она выводит на экран строчку «Как тебя зовут?» и дальше ждет от пользователя ввода ответа на вопрос, ввода имени.</p>
            <p id="p_1">Введите имя. Запустите ещё раз. Введите чужое имя.</p>
            <p id="p_1">Здесь используется команда input().</p>
            <div id="div_content_v" style="width: 1120px; height: 250px;">
                <h1 id="h11">Важно</h1>
                <p id="p_1" style="color: #b4b6a6;">Она всегда пишется с круглыми скобками. Команда работает так: когда программа доходит до места, где есть input(), она ждёт, пока пользователь введёт строку с клавиатуры (ввод завершается нажатием клавиши Enter). Введённая строка подставляется на место input().</p>
            </div>
            <p id="p_1">То есть, если вы ввели «Аня», то программа дальше будет работать так, как будто на месте input() было написано ’Аня’.</p>
            <p id="p_1">Таким образом, input() получает от пользователя какие-то данные и в место вызова подставляет строковое значение, в нашем случае записывает его в качестве значения переменной name. Мы рассмотрим, что значит сохранить в значение переменной, а пока запомните:</p>
            <div id="div_content_v" style="width: 1120px; height: 250px;">
                <h1 id="h11">Важно</h1>
                <p id="p_1" style="color: #b4b6a6;">Если нужно, чтобы программа что-то печатала на экране (и это увидел пользователь) — print. Если нужно, чтобы пользователь что-то напечатал с клавиатуры (чтобы программа могла использовать эти данные) — input().</p>
            </div>
        </div>

        <div style="height: 30px;"></div>

        <div id="div_content6" style="height: 3000px;">
            <h1 id="h1" style="margin-left: 25px;">6. Переменные</h1>
            <p id="p_1">Команду name = input() можно считать так — «подожди, пока пользователь введет какую-то строку и помести введенную строку в переменную name».</p>
            <p id="p_1">Попробуем разобраться, что это значит. Переменные имеют имя и значение.</p>

            <div id="div_content_v" style="width: 1120px; height: 250px;">
                <h1 id="h11">Имя переменной</h1>
                <p id="p_1" style="color: #b4b6a6;">Имя переменной должно отражать ее назначение и может состоять из латинских букв, цифр и символа подчеркивания.
                    Имя не может начинаться с цифры.</p>
            </div>
            <div style="height: 30px;"></div>
            <div id="div_content_v" style="width: 1120px;">
                <h1 id="h11">Важно: PEP8</h1>
                <p id="p_1" style="color: #b4b6a6;">Для именования переменных принято использовать стиль lower_case_with_underscores (слова из маленьких букв с подчеркиваниями).
                    Избегайте использовать такие символы, которые могут не однозначно трактоваться в различных шрифтах, это буквы о — большая и маленькая и цифра 0, буквы l маленькая, I большая и цифра 1. Также нельзя использовать в качестве имени переменной ключевые слова, которые существуют в языке.</p>
            </div>
            <p id="p_1">В вышеописанном примере переменная содержит в себе имя пользователя, поэтому мы назвали ее name(имя).</p>
            <p id="p_1">Обратите внимание, что слово name не подсвечено никаким цветом — в Python это слово ничего не обозначает. Оно что-то значит только в этой программе и только потому, что мы употребили оператор присваивания. При этом интерпретатору совершенно неважно, что значит слово name в английском языке, и мы с тем же успехом могли использовать любое другое имя: например, user («пользователь») или просто n, или даже hello. За имена переменных отвечает программист — то есть вы.</p>
            <p id="p_1">облюдайте правило: если в переменной хранится приветствие — пусть она так и называется, если имя — пусть она и называется соответственно.</p>
            <div id="div_content_v" style="width: 1120px; height: 280px;">
                <h1 id="h11">Значение переменной</h1>
                <p id="p_1" style="color: #b4b6a6;">Значение переменной — это то, что сохраняет в себе переменная.</p>
                <p id="p_1" style="color: #b4b6a6;">В нашем случае это то, что поместил в нее пользователь командой input(). Это текстовое значение — строка. То есть переменная сохраняет в себе строковое значение. Говорят, что переменная строкового типа.</p>
            </div>
        <p id="p_1">Обратите внимание: интерпретатор ждет, что пользователь что-то введёт с клавиатуры ровно столько раз, сколько команд input() встречается в программе. Каждый input() завершается нажатием Enter на клавиатуре.</p>
        <div id="div_content_prog" style="width: 400px; height: 400px; padding: 3px;">
            <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('Как тебя зовут?')</p>
            <p id="p_1">name = <span style="color: #6dc993;">input</span>()</p>
            <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">Привет,</span>', name)</p>
            <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;">А какая твоя любимая еда?</span>')</p>
            <p id="p_1">meal = <span style="color: #6dc993;">input</span>()</p>
            <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>('<span style="color: #4d6dff;"></span>Да.', meal, '<span style="color: #4d6dff;">- это вкусно.</span>')</p>
        </div>
        <p id="p_1">Мы задали значение переменной, и что же, оно никогда не меняется? Конечно, в двух разных программах могут быть переменные с одинаковыми названиями, но разными значениями. Но могут ли в пределах одной программы под одним именем быть разные значения?</p>
        <p id="p_1">Да! Оператор присваивания сообщает переменной то или иное значение независимо от того, была ли эта переменная введена раньше. Вы можете менять значение переменной, записав еще один оператор присваивания. Если у нас имеется переменная, то мы можем делать с её значением всё что угодно — например, присвоить другой переменной:</p>
        <div id="div_content_prog" style="width: 300px; height: 200px; padding: 3px;">
            <p id="p_1">hello = '<span style="color: #4d6dff;">Здравствуйте.</span>'</p>
            <p id="p_1">hello2 = hello</p>
            <p id="p_1"><span style="color: #ff7700; font-weight: bold;">print</span>(hello2)</p>
        </div>
        <div style="height: 30px;"></div>
        <div id="div_content_v" style="width: 1120px; height: 340px;">
            <h1 id="h11">Важно</h1>
            <p id="p_1" style="color: #b4b6a6;">Итак, если вы хотите, чтобы у вас была переменная с каким-то именем и каким-то значением, нужно написать на отдельной строчке:</p>
            <p id="p_1" style="color: #b4b6a6;"><span style="color: #6dc993;"><</span> имя переменной <span style="color: #6dc993;">></span> = <span style="color: #6dc993;"><</span> значение переменной <span style="color: #6dc993;">></span> </p>
            <p id="p_1" style="color: #b4b6a6;">Как только эта команда выполнится, в программе появится такая переменная с таким значением. Помните: команды выполняются последовательно, в том же порядке, в котором они написаны.</p>
        </div>
    </div>

    <div style="height: 30px;"></div>

    <div id="div_content6" style="height: 220px;">
        <h1 id="h1" style="margin-left: 25px;">Конец первого урока.</h1>
        <p id="p_1">Если все понятно, то предлогаю пройти на 2 урок, а лучше отдохните и наберитесь сил</p>
        <p id="p_1">Но все же вот ссылка ;)  <a href="/Простые встроенные функции" id="a1">Простые встроенные функции</a></p>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
                }
                }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>