{% extends "bases/base.html" %}

{% block content %}
<h1 align="center" id="h1_1">Авторизация</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p align="center">
        {{ form.login.label }}<br>
        {{ form.login(class="form-control") }}<br>
        {% for error in form.login.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p align="center">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p align="center">{{ message }}</p>
    {% if log %}<p  align="center"><a href="register">зарегистрироваться</a></p>{% endif %}
    <p align="center">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}